{% extends "notes/layout.html" %}

{% block body %}

    <h2>Change Password</h2>
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message | safe }}
        </div>
    {% endfor %}
    <form action="{% url 'change_password' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-primary" type="submit" value="Change Password">
    </form>
{% endblock %}